@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  --ff-figtree: "Figtree";

  --fs-lg: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;

  --fw-medium: 500;
  --fw-extrabold: 800;

  --lh-base: 1.5;

  --spacing-lg: 1.5rem;
  --spacing-md: 0.75rem;
  --spacing-sm: 0.5rem;
  --spacing-xs: 0.25rem;

  --border-r-card: 1.25rem;
  --border-r-illustration: 0.625rem;

  --shadow-card: 8px 8px 0 rgba(0, 0, 0, 1);
  --max-w-card: 28rem;

  --avatar-size: 2.3rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: var(--gray-500);
  font-family: var(--ff-figtree), sans-serif;
  font-size: clamp(var(--fs-sm), 2vw, var(--fs-md));
  font-weight: var(--fw-medium);
  line-height: var(--lh-base);
}

body {
  background-color: var(--yellow);
}

main {
  display: grid;
  place-content: center;
  justify-items: center;

  min-height: 100vh;
}

/* Utilities */
.flex-col {
  display: flex;
  flex-direction: column;
}

/* components */
.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.category {
  color: var(--gray-950);
  font-weight: var(--fw-extrabold);
  background-color: var(--yellow);
  border-radius: var(--spacing-xs);
  padding: var(--spacing-xs) var(--spacing-md);
}

.title {
  color: var(--gray-950);
  font-size: var(--fs-lg);
  font-weight: var(--fw-extrabold);
}

/* card */
.card {
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: var(--border-r-card);
  box-shadow: var(--shadow-card);
  padding: var(--spacing-lg);
  width: 87%;
  max-width: var(--max-w-card);
}

.card.flex-col {
  gap: var(--spacing-lg);
}

.card__illustration {
  border-radius: var(--border-r-illustration);
}

.card__content.flex-col {
  gap: var(--spacing-lg);
}

.card__details.flex-col {
  align-items: start;
  gap: var(--spacing-md);
}

.card__details .category {
  font-size: var(--fs-sm);
}

.card__publish-date {
  color: var(--gray-950);
}

.card__details .title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__footer {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.card__username {
  color: var(--gray-950);
  font-size: var(--fs-sm);
  font-weight: var(--fw-extrabold);
}
